<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1 id="title">Wiki-Map</h1>

  <!-- <% if ( -> user is logged in <- ) { %> -->
    <h2 id="email"> email </h2>
    <form action="/" method="post">
      <input id="logout_button" type="submit" value="Logout">
    </form>

  <!-- <& } else { %> -->
    <form action="/" method="post">
      <label for="search-input">Search:</label>
      <input name="search" id="logout_button">
      <input type="submit" value="Logout">
    </form>
  </header>
</body>
</html>
