<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- NUNITO SANS SERIF -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>
      <div>

      </div>
  </body>
</html>
